html {
  height: 100%;
  width: 100%;
}

body {
    margin: 3px;
    height: 100vh;
    display: flex;
    align-items: left;
    justify-content: left;
    background: #272626;
    color: white;
    font-family: Arial, sans-serif;
}

.title {
    position: absolute;
    left: 5%;
    top: 5%; 
    font-size: 50px;
    font-family: "Lucida Console", monospace;
}

.p1 {
  position: absolute;
  margin-left: 5%;
  margin-right: 15%;
  margin-top: 7%;
  font-size: 20px;
  font-family: "Lucida Console", monospace;
}


.cursor {
  display: inline-block;
  animation: blink 1s infinite;
  margin-left: -0.60em;
}

@media (max-width: 600px) {
  .title {
    position: absolute;
    left: 5%;
    top: 4%; 
    font-size: 20px;
    font-family: "Lucida Console", monospace;
  }
  .p1 {
    position: absolute;
    margin-left: 5%;
    margin-right: 15%;
    margin-top: 12%;
    font-size: 15px;
    font-family: "Lucida Console", monospace;
  }
}

@keyframes blink {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}


a:link {
  color: #00ccf5;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #00ccf5;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;

